# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
dist/
build/
.eggs/
*.egg

# 虚拟环境
.venv/
venv/
.conda/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 项目文件
.env
logs/
*.log
tests/
docs/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
